{
"ele_efa_#backwave":"true",
"ele_tl_color_#frontwave":"0x63599f",
"ele_tl_color_#cloud5":"0xeedf79",
"timelineTree_opened_#cloud3":"false",
"ele_tl_color_#Image5":"0xdb619d",
"ele_invisible_#cloud6":"false",
"ele_invisible_#cloud3":"false",
"ele_efa_#Image6":"true",
"ele_invisible_#cloud2":"false",
"CompZoomFactor":"124.416015625",
"ele_tl_color_#cloud4":"0x50bd82",
"ele_tl_color_#woosh1":"0xeedf79",
"stage-Default Timeline_playhead_ms":"226000",
"ele_tl_color_#blue":"0x91c767",
"ele_invisible_#boat":"false",
"HTMLFileName":"Test.html",
"ele_invisible_#woosh1":"false",
"ele_efa_#bg":"true",
"ModelData":"{\
\"stage\": {\
   \"timelines\": {\
      \"Default Timeline\": {\
            \"ElementKeyframes\": {\
                \"#blue\": [], \
                \"#Image13\": [], \
                \"#Image14\": [], \
                \"#Rectangle1\": [], \
                \"#cloud4\": [], \
                \"#Image10\": [], \
                \"#Image12\": [], \
                \"#boat\": [], \
                \"#dolphin\": [], \
                \"#cloud\": [], \
                \"#Image2\": [], \
                \"#Image9\": [], \
                \"#cloud6\": [], \
                \"#frontwave\": [], \
                \"#Image15\": [], \
                \"#Image4\": [], \
                \"#Image1\": [], \
                \"#Image5\": [], \
                \"#cloud5\": [], \
                \"#Image7\": [], \
                \"#backwave\": [], \
                \"#bg\": [], \
                \"#woosh1\": [], \
                \"#cloud2\": [], \
                \"#Image18\": [], \
                \"#Image6\": [], \
                \"#Image8\": [], \
                \"#cloud3\": [], \
                \"#Image19\": [], \
                \"#Image3\": [], \
                \"#Image16\": [], \
                \"#Image11\": []\
            }\
      }\
   }}\
}",
"ele_invisible_#frontwave":"false",
"timelineTree_opened_#cloud5":"false",
"ele_tl_color_#backwave":"0x008dc8",
"timelineTree_opened_#dolphin":"false",
"ele_efa_#cloud":"true",
"ele_efa_#cloud4":"true",
"timelineTree_opened_#Image1":"false",
"usedBOM":"false",
"ele_tl_color_#cloud2":"0x63599f",
"ele_efa_#Image5":"false",
"ele_efa_#cloud3":"true",
"ele_efa_#Image7":"true",
"ele_invisible_#stage":"false",
"timelineTree_opened_#Image2":"true",
"ele_efa_#Image18":"true",
"ele_invisible_#cloud4":"false",
"ele_tl_color_#Image8":"0x91c767",
"ele_efa_#blue":"true",
"ele_efa_#frontwave":"true",
"ele_tl_color_#cloud3":"0x008dc8",
"timelineTree_opened_#backwave":"true",
"timelineTree_opened_#boat":"true",
"ele_efa_#cloud6":"true",
"stage-Default Timeline_mark_ms":"-1",
"ele_efa_#Image8":"false",
"timelineTree_opened_#cloud6":"false",
"ele_tl_color_#cloud6":"0x00a9fa",
"ele_invisible_#Image5":"false",
"timelineTree_opened_#cloud4":"false",
"ele_invisible_#cloud":"false",
"timelineTree_opened_#cloud2":"false",
"timelineTree_opened_#cloud":"false",
"ele_efa_#dolphin":"true",
"ele_tl_color_#Image7":"0xffd46d",
"timelineTree_opened_#bg":"false",
"ele_locked_#cloud4":"false",
"ele_invisible_#backwave":"false",
"ele_locked_#cloud5":"true",
"ele_locked_#cloud3":"false",
"ele_tl_color_#boat":"0xfb657a",
"ele_efa_#Image12":"true",
"ele_locked_#bg":"true",
"ele_tl_color_#dolphin":"0x00a096",
"ele_invisible_#dolphin":"false",
"ele_tl_color_#bg":"0x00a9fa",
"ele_invisible_#bg":"false",
"timelineTree_opened_#frontwave":"true",
"ele_efa_#boat":"true",
"TransitionIdCounter":"514",
"ele_efa_#woosh1":"true",
"ele_efa_#cloud5":"true",
"timelineTree_opened_#woosh1":"false",
"ele_invisible_#cloud5":"false",
"ele_tl_color_#Image6":"0xffd46d",
"ele_tl_color_#cloud":"0xceaef4",
"ele_tl_color_#Image18":"0xfb657a",
"ele_tl_color_#Image12":"0x2f73ad",
"viewStartMs":"0",
"ele_efa_#cloud2":"true",
"ele_locked_#frontwave":"false"}